<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @@version v2.0.0
* @@link https://coreui.io
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>CoreUI Free Bootstrap Admin Template</title>
    <!-- Icons-->
    <link href="~/lib/@@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="~/lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

    <!-- APP-HEADER -->
    <partial name="_AppHeaderPartial" />
    <!-- /APP-HEADER -->
    
    <partial name="_CookieConsentPartial"/>

    <div class="app-body">
        <div class="sidebar">

            <!-- SIDEBAR-NAV -->
            <partial name="_SidebarNavPartial" />
            <!-- /SIDEBAR-NAV -->

            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>
        <main class="main">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item">
                    <a href="#">Admin</a>
                </li>
                <li class="breadcrumb-item active">Dashboard</li>
                <!-- Breadcrumb Menu-->
                <li class="breadcrumb-menu d-md-down-none">
                    <div class="btn-group" role="group" aria-label="Button group">
                        <a class="btn" href="#">
                            <i class="icon-speech"></i>
                        </a>
                        <a class="btn" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="">
                            <i class="icon-graph"></i>  Dashboard
                        </a>
                        <a class="btn" href="#">
                            <i class="icon-settings"></i>  Settings
                        </a>
                    </div>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="animated fadeIn">

                    <!-- PAGE-CONTENT -->
                    @RenderBody()
                    <!-- /PAGE-CONTENT -->

                </div>
            </div>
        </main>

        <!-- ASIDE-MENU -->
        <partial name="_AsideMenuPartial" />
        <!-- /ASIDE-MENU -->

        <!-- FOOTER -->
        <partial name="_FooterPartial" />
        <!-- /FOOTER -->


    </div>

    <!-- Bootstrap and necessary plugins-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/pace-progress/pace.min.js"></script>
    <script src="~/lib/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script src="~/lib/@@coreui/coreui/dist/js/coreui.min.js"></script>
    
    <!-- Plugins and scripts required by the views -->
    @RenderSection("Scripts", required:false)

</body>
</html>